.sidebar{
    position: fixed;
   width: 215px;
   height: 100%;
   z-index: 1;
   left: 0;
   background: #2e2e2e;
   overflow: hidden;
   font-family: Poppins-Regular;
}

.sideLink{
    /* margin-top: 60px; */
    padding-left: 20px;
    margin-bottom: 15px;
    line-height: 50px;
    font-family: Poppins-Regular;
    /* background-color: white; */
}