.header{
    min-width: 100%;
    min-height: 55px;
    box-shadow: 8px 4px 20px 0px rgb(128 128 128 / 20%);
    position: fixed;
    overflow: hidden;
    z-index: 1;
    background-color: #2e2e2e;
}
